<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedestrian Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Pedestrian Counter</h1>
    <div class="counter">People Count: <span id="count">0</span></div>
    <button id="reset-button">Reset Counter</button>

    <h2>Daily Pedestrian Counts</h2>
    <canvas id="dailyCountsChart" width="400" height="200"></canvas>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
